build
dist / media
node_modules
.pnpm-store
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/assets/media/

# IDE
.vscode
.idea
.history

tsconfig.tsbuildinfo

public/media
